@import url('https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%2C800%7CRoboto%3A100%2C300%2C400%2C500%2C700%2C900&ver=4.8');
/* ////////////////////////////BODY//////////////////////// */
/* Header */

.container {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid;
    border-bottom-color: #2F5BB7;
}

.navbar-header {
    width: auto;
    height: 100px;
}

.logo {
    padding-left: 30px;
    padding-top: 30px;
    width: 160px;
    height: 60px;
}

.mainPicture {
    width: 100%;

}

#picture {
    max-width: 100%;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
}

h1 {
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    font-family: "Open Sans", Arial, sans-serif;
}

/* /////////////////////////////////// Buttons ////////////////////// */
/* Normal button */
button, input[type=submit] {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    width: 85px;
    height: 35px;
    font-weight: bold;
    font-size: 9pt;
    margin: auto;
    padding: auto;
    text-align: center;
    border-radius: 28px
}

button:hover, input[type=submit] {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active, input[type=submit] {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}


/* Blue button*/
button.blue, input[type=submit] {
    color: white;
    background: #1f94e0;
    border: 1px #1f94e0 solid;
    box-shadow: inset 0 1px 0 #80B0FB;
    width: auto;
    height: auto;
}

button.blue:hover, input[type=submit]:hover {
    color: #1f94e0;
    border: 1px #1f94e0 solid;
    background: white;

}

button.blue:active, input[type=submit]:active {
    box-shadow: inset 0 2px 5px #2370FE;
}

/* Green button*/
button.green {
    color: white;
    background: #70ad47;
    border: 1px #7add3a solid;
    box-shadow: inset 0 1px 0 #8ad455;
    border-collapse: collapse;
}

button.green:hover {
    color: #70ad47;
    border: 1px #70ad47 solid;
    background: white;
}

button.green:active {
    box-shadow: inset 0 2px 5px #85fe1e;
}

/* Red button */
button.red {
    background: -webkit-linear-gradient(top, #DD4B39, #D14836);
    background: -moz-linear-gradient(top, #DD4B39, #D14836);
    background: -ms-linear-gradient(top, #DD4B39, #D14836);
    border: 1px solid #DD4B39;
    color: white;
    table-layout: fixed;
    border-collapse: collapse;
    width: auto;
    height: auto;
}

button.red:hover {
    background: white;
    border: 1px solid #DD4B39;
    color: #DD4B39;
}

button.red:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(top, #D74736, #AD2719);
    background: -moz-linear-gradient(top, #D74736, #AD2719);
    background: -ms-linear-gradient(top, #D74736, #AD2719);
}

/* Header buttons */
button.topButton {
    color: black;
    background-color: transparent;
    table-layout: fixed;
    border-collapse: collapse;
    float: right;
    margin-left: auto;
    margin-right: 3%;
    width: 13%;
    height: 70px;
    font-size: 22px;
    font-weight: 300;
}

button.topButton:hover {
    color: #1f94e0;
    border: 1px #1f94e0 solid;
    background: white;
    text-decoration: underline;
}

/* used from following site; https://codepen.io/timwagner/pen/pAecq */


/* ///////////////// TABLES ///////////// */
table {
    border-collapse: collapse;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #4472c4;
    /*height: 40px;*/
    font-size: 16px;
    color: white;
    padding-left: 5px;
    border: 1px solid grey;

}

tr {
    background-color: white;
    padding-right: 2px;
    padding-left: 2px;
    border: 1px solid grey;;
}

td {
    border-right: 1px solid grey;
    padding-left: 3px;
    padding-right: 2px;

}

tr:nth-child(even) {
    background-color: #cdd4ea
}


/* ///////// Overlay /////////// */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

