<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilføj session</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div id="wrapper">
    <header id="header">
        <div class="container">
            <div class="navbar-header">
                <a class="logo" href="/"><img src="/WizkidsLogo.png" alt="WizkidsLogo"></a>

                <a id="menu-item-32" href="/employeeList">
                    <button class="topButton" id="btn-employeeList">Medarbejdere</button>
                </a>
                <a id="menu-item-33" href="/sessionList">
                    <button class="topButton" id="btn-sessionList">Sessioner</button>
                </a>
                <a id="menu-item-34" href="/projectList">
                    <button class="topButton" id="btn-projectList">Projekter</button>
                </a>
            </div>
        </div>
    </header>
</div>

<h1>Opret session</h1>

<form action="/createSession" method="post">
    <table>
        <tr>
            <td>
                <label>Dato (YYYY-MM-DD): </label>
            </td>
            <td>
                <input type="text" name="sessionTimeDate" th:value="${localDate}"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Tid start: </label>
            </td>
            <td>
                <input type="text" name="sessionTimeStart" th:value="${localTime}"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Tid slut: </label>
            </td>
            <td>
                <input type="text" name="sessionTimeEnd"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Medarbejder-ID: </label>
            </td>
            <td>
                <input type="text" name="sessionTimeEmpID"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Projekt-ID: </label>
            </td>
            <td>
                <input type="text" name="sessionTimeProID"/>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button class="green" type="submit">
                    <i class="material-icons" style="font-size:25px">save</i>
                </button>
            </td>
        </tr>

    </table>
</form>

</body>
</html>