<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilføj projekt</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
<div id="wrapper">
    <header id="header">
        <div class="container">
            <div class="navbar-header">
                <a class="logo" href="/"><img src="/WizkidsLogo.png" alt="WizkidsLogo"></a>

                <a id="menu-item-32" href="/employeeList">
                    <button class="topButton" id="btn-employeeList">Medarbejdere</button>
                </a>
                <a id="menu-item-33" href="/sessionList">
                    <button class="topButton" id="btn-sessionList">Sessioner</button>
                </a>
                <a id="menu-item-34" href="/projectList">
                    <button class="topButton" id="btn-projectList">Projekter</button>
                </a>
            </div>
        </div>
    </header>
</div>

<h1>Tilføj projekt</h1>

<form action="/createProject" method="post">

    <table>
        <tr>
            <td>
                <label>Projekt navn:</label>
            </td>
            <td>
                <input type="text" name="projectName"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Projekt Beskrivelse:</label>
            </td>
            <td>
                <input type="text" name="projectDesc"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Projekt manager:</label>
            </td>
            <td>
                <input type="text" name="projectManagerName"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Forventet tid(timer)</label>
            </td>
            <td>
                <input type="text" name="projectExpectedTime"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Brugt tid(timer)</label>
            </td>
            <td>
                <input type="text" name="projectUsedTime"/>
            </td>
        </tr>
        <tr>

            <td>
                <label>Deadline</label>
            </td>
            <td>
                <input type="text" name="projectDeadline"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Status på projektet</label>
            </td>
            <td>
                <select name="projectDone">
                    <option value="Igang">Igang</option>
                    <option value="Afsluttet">Afsluttet</option>
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button class="green" type="submit">
                    <i class="material-icons" style="font-size:25px">save</i>
                </button>
            </td>
        </tr>

    </table>

</form>

</body>
</html>