<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opdater projekt</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div id="wrapper">
    <header id="header">
        <div class="container">
            <div class="navbar-header">
                <a class="logo" href="/"><img src="/WizkidsLogo.png" alt="WizkidsLogo"></a>

                <a id="menu-item-32" href="/employeeList">
                    <button class="topButton" id="btn-employeeList">Medarbejdere</button>
                </a>
                <a id="menu-item-33" href="/sessionList">
                    <button class="topButton" id="btn-sessionList">Sessioner</button>
                </a>
                <a id="menu-item-34" href="/projectList">
                    <button class="topButton" id="btn-projectList">Projekter</button>
                </a>
            </div>
        </div>
    </header>
</div>

<h1>Opdater project</h1>

<form action="/editProject" method="post">
    <table>
        <tr>
            <td>
                <p>Project-ID: </p>
            </td>
            <td>
                <input type="text" name="projectID" th:value="${project.projectID}" readonly/>
            </td>
        </tr>

        <tr>
            <td>
                <p>Projekt navn: </p>
            </td>
            <td>
                <input type="text" name="projectName" th:value="${project.projectName}"/>
            </td>
        </tr>

        <tr>
            <td>
                <p>Beskrivelse: </p>
            </td>
            <td>
                <input type="text" name="projectDesc" th:value="${project.projectDesc}"/>
            </td>
        </tr>

        <tr>
            <td>
                <p>Manager navn: </p>
            </td>
            <td>
                <input type="text" name="projectManagerName" th:value="${project.projectManagerName}"/>
            </td>
        </tr>

        <tr>
            <td>
                <p>Forventet tid: </p>
            </td>
            <td>
                <input type="text" name="projectExpectedTime" th:value="${project.projectExpectedTime}"/>
            </td>
        </tr>

        <tr>
            <td>
                <p>Brugt tid: </p>
            </td>
            <td>
                <input type="text" name="projectUsedTime" th:value="${project.projectUsedTime}"/>
            </td>
        </tr>

        <tr>
            <td>
                <p>Deadline: </p>
            </td>
            <td>
                <input type="text" name="projectDeadline" th:value="${project.projectDeadline}"/>
            </td>
        </tr>

        <tr>
            <td>
                Status på projektet:
            </td>
            <td>
                <select th:field="*{project.projectDone}">
                    <option th:value="'Igang'">Igang</option>
                    <option th:value="'Afsluttet'">Afsluttet</option>
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button class="green" type="submit">
                    <i class="material-icons" style="font-size:25px">save</i>
                </button>
            </td>
        </tr>

    </table>

</form>
</body>
</html>