<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opdater medarbejdere</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<div id="wrapper">
    <header id="header">
        <div class="container">
            <div class="navbar-header">
                <a class="logo" href="/"><img src="/WizkidsLogo.png" alt="WizkidsLogo"></a>
                <a id="menu-item-32" href="/employeeList">
                    <button class="topButton" id="btn-employeeList">Medarbejdere</button>
                </a>
                <a id="menu-item-33" href="/sessionList">
                    <button class="topButton" id="btn-sessionList">Sessioner</button>
                </a>
                <a id="menu-item-34" href="/projectList">
                    <button class="topButton" id="btn-projectList">Projekter</button>
                </a>
            </div>
        </div>
    </header>
</div>

<h1>Opdater medarbejdere</h1>

<form action="/editEmployee" method="post">
    <table>
        <tr>
            <td>
                <p>Medarbejder-ID: </p>
            </td>
            <td>
                <input type="text" name="employeeID" th:value="${employees.employeeID}" readonly/>
            </td>
        </tr>

        <tr>
            <td>
                <p>Fornavn: </p>
            </td>
            <td>
                <input type="text" name="employeeFirstName" th:value="${employees.employeeFirstName}"/>
            </td>
        </tr>

        <tr>
            <td>
                <p>Efternavn: </p>
            </td>
            <td>
                <input type="text" name="employeeLastName" th:value="${employees.employeeLastName}"/>
            </td>
        </tr>

        <tr>
            <td>
                <p>E-mail: </p>
            </td>
            <td>
                <input type="text" name="employeeEmail" th:value="${employees.employeeEmail}"/>
            </td>
        </tr>

        <tr>
            <td>
                <p>Telefon nummer: </p>
            </td>
            <td>
                <input type="text" name="employeePhone" th:value="${employees.employeePhone}"/>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button class="green" type="submit">
                    <i class="material-icons" style="font-size:25px">save</i>
                </button>
            </td>
        </tr>

    </table>

</form>
</body>
</html>