<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret medarbejder</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
    <style>
        body{
            text-align: center;
        }
        table{
            margin-left: auto;
            margin-right: auto;
        }
        h1{
            text-align: center;
        }
        table, th, td {
            border: 1px solid grey;
        }
        #logo{
            text-align: left;
        }
    </style>

</head>
<body>
<div id="logo">
<a href="/"><img id="WizkidsLogo.png" src="/WizkidsLogo.png" alt="WizkidsLogo"></a>
</div>
<h1>TILFØJ MEDARBEJDER</h1>

    <form action="/addEmployee" method="post">

        <table>
            <tr>
                <td>
                    <label>Fornavn:</label>
                </td>
                <td>
                    <input type ="text" name="employeeFirstName"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Efternavn:</label>
                </td>
                <td>
                    <input type ="text" name="employeeLastName"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Email:</label>
                </td>
                <td>
                    <input type ="text" name="employeeEmail"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Telefon nr:</label>
                </td>
                <td>
                    <input type ="text" name="employeePhone"/>
                </td>
            </tr>

        </table>
        <input type="submit" value="Opret"/>
    </form>
</body>
</html>