<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Alle medarbejdere</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">

</head>
<body>

<div id="wrapper">

    <header id="header">

        <div class="container">
            <div class="navbar-header">

                <a class="logo" href="/"><img src="/WizkidsLogo.png" alt="WizkidsLogo"></a>

                <a id="menu-item-32" href="/employeeList">
                    <button class="topButton" id="btn-employeeList">Vis medarbejderliste</button>
                </a>
                <a id="menu-item-33" href="/sessionList">
                    <button class="topButton" id="btn-sessionList">Se alle sessioner</button>
                </a>
                <a id="menu-item-34" href="/projectList">
                    <button class="topButton" id="btn-projectList">Se alle projekter</button>
                </a>
            </div>
        </div>

    </header>

    <div>

    </div>

<h1>Alle medarbejdere</h1>
<div id="tableScroll">
    <table>
        <thead>
        <tr>
            <th>Employee-ID</th>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>E-mail</th>
            <th>Telefon nummer</th>
            <th>
                <a href="/addEmployee" id="addEmpBtn">
                    <button class="green" id="btn-addEmployee">Opret ny Medarbejder</button>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee:${employees}">
            <td th:text="${employee.employeeID}"/>
            <td th:text="${employee.employeeFirstName}"/>
            <td th:text="${employee.employeeLastName}"/>
            <td th:text="${employee.employeeEmail}"/>
            <td th:text="${employee.employeePhone}"/>
            <td>
                <a th:href="@{'/updateEmployee/'+${employee.employeeID}}">
                    <button class="blue" id="btn-update">Opdater</button>
                </a>

                <!-- <a td th:href="@{'/deleteEmployee/'+${employee.employeeID}}">
                     <button class="red" id="btn-delete">Slet</button>
                 </a> -->
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>