<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" type="text/css" href="MyCss.css">
</head>
<body>

<a href="/"><img id="WizkidsLogo.png" src="WizkidsLogo.png" alt="WizkidsLogo"></a>

<h1>Employee List</h1>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Telephone Number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee:${employees}">
        <td th:text="${employee.employeeID}"/>
        <td th:text="${employee.employeeFirstName}"/>
        <td th:text="${employee.employeeLastName}"/>
        <td th:text="${employee.employeeEmail}"/>
        <td th:text="${employee.employeePhone}"/>
        <td>
            <a td th:href="@{'/deleteEmployee/'+${employee.employeeID}}">
                <button class="red" id="btn-delete">Slet</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/addEmployee">
    <button class="blue" id="btn-addEmployee">Opret ny Medarbejder</button>
</a>

</body>
</html>