<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret medarbejder</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



</head>
<body>

<div id="wrapper">
    <header id="header">
        <div class="container">
            <div class="navbar-header">
                <a class="logo" href="/"><img src="/WizkidsLogo.png" alt="WizkidsLogo"></a>

                <a id="menu-item-32" href="/employeeList">
                    <button class="topButton" id="btn-employeeList">Medarbejdere</button>
                </a>
                <a id="menu-item-33" href="/sessionList">
                    <button class="topButton" id="btn-sessionList">Sessioner</button>
                </a>
                <a id="menu-item-34" href="/projectList">
                    <button class="topButton" id="btn-projectList">Projekter</button>
                </a>
            </div>
        </div>
    </header>
</div>


<h1>Tilføj medarbejdere</h1>

<form action="/addEmployee" method="post">

    <table>
        <tr>
            <td>
                <label>Fornavn:</label>
            </td>
            <td>
                <input type="text" name="employeeFirstName"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Efternavn:</label>
            </td>
            <td>
                <input type="text" name="employeeLastName"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Email:</label>
            </td>
            <td>
                <input type="text" name="employeeEmail"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Telefon nr:</label>
            </td>
            <td>
                <input type="text" name="employeePhone"/>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button class="green" type="submit">
                    <i class="material-icons" style="font-size:25px">save</i>
                </button>
            </td>
        </tr>

    </table>


</form>
</body>
</html>