<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hovedmenu</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css"/>
    <style>

        body {
            text-align: center;
        }
        table{
            margin-left: auto;
            margin-right: auto;
        }
        #main{
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 42%;
            padding-right: 43%;
            margin-left: auto;
            margin-right: auto;
            background-color: #8b86c3;
        }
    </style>

</head>
<body>
<div id="logo">
    <a href="/"><img id="WizkidsLogo.png" src="/WizkidsLogo.png" alt="WizkidsLogo"></a>
</div>
    <h1>
     HOVEDMENU
    </h1>
<div id="main">
    <a href="/employeeList">
    <button class="blue" id="btn-employeeList">Vis medarbejderliste</button>
    </a>
    <a href="/sessionList">
    <button class="blue" id="btn-sessionList">Se alle sessioner</button>
    </a>
    <a href="/projectList">
    <button class="blue" id="btn-projectList">Se alle projekter</button>
    </a>
    <a href="/projectManagerList">
        <button class="blue" id="btn-projectManagarList">Leder Menu</button>
    </a>
</div>





</div>
</body>
</html>