<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml">


<head>

    <meta charset="UTF-8">
    <title>Hovedmenu</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css"/>

</head>



<body>
<div id="wrapper">
    <header id="header">
        <div class="container">
            <div class="navbar-header">
                <a class="logo" href="/"><img src="/WizkidsLogo.png" alt="WizkidsLogo"></a>

                <a id="menu-item-32" href="/employeeList">
                    <button class="topButton" id="btn-employeeList">Medarbejdere</button>
                </a>
                <a id="menu-item-33" href="/sessionList">
                    <button class="topButton" id="btn-sessionList">Sessioner</button>
                </a>
                <a id="menu-item-34" href="/projectList">
                    <button class="topButton" id="btn-projectList">Projekter</button>
                </a>
            </div>
        </div>
    </header>
</div>

<div class="mainPicture">
    <img id="picture" src="/MainPicture.png" alt="MainPicture">
</div>

</body>
</html>