<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
</head>
<body>
<h1><a href="/"><img id="logo1" src="WizkidsLogo.png" alt="WizkidsLogo"></a></h1>

<a href="/employeeList">
    <button class="btn-employeeList btn" id="btn-employeeList">Vis medarbejderliste</button>
</a>
<a href="/sessionList">
    <button class="btn-sessionList btn" id="btn-sessionList">Se alle sessioner</button>
</a>
<a href="/projectList">
    <button class="btn-projectList btn" id="btn-projectList">Se alle projekter</button>
</a>

</body>
</html>