<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Alle projekter</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">

</head>
<body>

<div id="wrapper">

    <header id="header">

        <div class="container">
            <div class="navbar-header">

                <a class="logo" href="/"><img src="/WizkidsLogo.png" alt="WizkidsLogo"></a>

                <a id="menu-item-32" href="/employeeList">
                    <button class="topButton" id="btn-employeeList">Vis medarbejderliste</button>
                </a>
                <a id="menu-item-33" href="/sessionList">
                    <button class="topButton" id="btn-sessionList">Se alle sessioner</button>
                </a>
                <a id="menu-item-34" href="/projectList">
                    <button class="topButton" id="btn-projectList">Se alle projekter</button>
                </a>
            </div>
        </div>

    </header>

    <div>

    </div>

<h1>Alle projekter</h1>
<div id="tableScroll">
    <table>
        <thead>
        <tr>
            <th>Projekt-ID</th>
            <th>Projekt navn</th>
            <th>Beskrivelse</th>
            <th>Manager navn</th>
            <th>Forventet tid</th>
            <th>Brugt tid</th>
            <th>
                <a href="/addProject">
                    <button class="green" id="btn-addProject">Opret projekt</button>
                </a>
            </th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="project:${projects}">
            <td th:text="${project.projectID}"/>
            <td th:text="${project.projectName}"/>
            <td th:text="${project.projectDesc}"/>
            <td th:text="${project.projectManagerName}"/>
            <td th:text="${project.projectExpectedTime}"/>
            <td th:text="${project.projectUsedTime}"/>
            <td>

                <a th:href="@{'/updateProject/'+${project.projectID}}">
                    <button class="blue" id="btn-updateProject">Opdater</button>
                </a>

                <!-- <a th:href="@{'/deleteProject/'+${project.projectID}}">
                       <button class="red" id="btn-delete">Slet</button>
                   </a> -->
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>