<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilføj projekt</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
    <style>

        body{
            text-align: center;
        }
        table{
            margin-left: auto;
            margin-right: auto;
        }
        h1{
            text-align: center;
        }
        table, th, td {
            border: 1px solid grey;
        }
        #logo{
            text-align: left;
        }
    </style>
</head>
<body>
<div id="logo">
<a href="/"><img id="WizkidsLogo.png" src="/WizkidsLogo.png" alt="WizkidsLogo"></a>
</div>

<h1>TILFØJ PROJEKT</h1>

<form action="/addProject" method="post">

    <table>
        <tr>
            <td>
                <label>Projekt navn:</label>
            </td>
            <td>
                <input type ="text" name="projectName"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Projekt Beskrivelse:</label>
            </td>
            <td>
                <input type ="text" name="projectDesc"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Projekt manager:</label>
            </td>
            <td>
                <input type ="text" name="projectManagerName"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Forventet tid(timer)</label>
            </td>
            <td>
                <input type ="text" name="projectExpectedTime"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Brugt tid(timer)</label>
            </td>
            <td>
                <input type ="text" name="projectUsedTime"/>
            </td>
        </tr>
    </table>
    <input type="submit" value="Opret"/>
</form>

</body>
</html>