<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Alle projekter</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>

<div id="wrapper">
    <header id="header">
        <div class="container">
            <div class="navbar-header">
                <a class="logo" href="/"><img src="/WizkidsLogo.png" alt="WizkidsLogo"></a>

                <a id="menu-item-32" href="/employeeList">
                    <button class="topButton" id="btn-employeeList">Medarbejdere</button>
                </a>
                <a id="menu-item-33" href="/sessionList">
                    <button class="topButton" id="btn-sessionList">Sessioner</button>
                </a>
                <a id="menu-item-34" href="/projectList">
                    <button class="topButton" id="btn-projectList">Projekter</button>
                </a>
            </div>
        </div>
    </header>
</div>

<h1>Alle projekter</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Projekt-ID</th>
            <th>Projekt navn</th>
            <th>Beskrivelse</th>
            <th>Manager navn</th>
            <th>Forventet tid</th>
            <th>Brugt tid</th>
            <th>Deadline</th>
            <th>Status</th>

            <th>
                <!-- Button which forwards the user to the add project website -->
                <a href="/createProject">
                    <button class="green" id="button-create">
                        <i class="material-icons" style="font-size:25px">create</i>
                    </button>
                </a>
            </th>
        </tr>

        </thead>
        <tbody>

        <!-- Table which loops through the projects model and prints the information stored in the database -->
        <tr th:each="project:${projects}">
            <td th:text="${project.projectID}"/>
            <td th:text="${project.projectName}"/>

            <!-- Table which contains a button which is connected to the two functions on() and off().
             When the button is pressed, a overlay will appear on the screen with at project description
             regarding the project -->
            <td>
<div class="overlay" style="display: none" th:id="@{''+${project.projectID}}"
                     th:onclick="@{'off( \''+${project.projectID}+'\' )'}">
                    <div  id="text" > <a th:text="${project.projectDesc}"/></div>
                </div>

                <div style="padding:20px">
                    <button class="blue" th:onclick="@{'on( \''+${project.projectID}+'\' )'}">
                        <i class="material-icons" style="font-size:26px">info_outline</i>
                    </button>
                </div>
            </td>

            <td th:text="${project.projectManagerName}"/>
            <td th:text="${project.projectExpectedTime}"/>
            <td th:text="${project.projectUsedTime}"/>
            <td th:text="${project.projectDeadline}"/>
            <td th:text="${project.projectDone}"/>

            <!-- Button which redirects the user to a new website where the user will be able to update the
                 details about regarding the project, thymeleaf will forward the project id so the correct
                 info will appear -->
            <td>
                <a th:href="@{'/editProject/'+${project.projectID}}">
                    <button class="blue" id="btn-updateProject">
                        <i class="material-icons" style="font-size:26px">settings</i></button>
                </a>
                <!-- <a th:href="@{'/deleteProject/'+${project.projectID}}">
                       <button class="red" id="btn-delete">Slet</button>
                   </a> -->
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Two functions for the overlay button in the table.
     The Code was found on following site at then adapted to our program https://www.w3schools.com/HOWTO/howto_css_overlay.asp -->

<script>
    function on( buttonclicked ) {
        document.getElementById(buttonclicked).style.display = "block";
    }

    function off(buttonclicked) {
        document.getElementById(buttonclicked).style.display = "none";
    }
</script>

</body>
</html>