<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add project</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
    <style>
        body{
            background-color: whitesmoke;
            text-align: center;
        }
        table{
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>

<h1><a href="/"><img id="WizkidsLogo.png" src="/WizkidsLogo.png" alt="WizkidsLogo"></a> - Tilføj medarbejder</h1>

<form action="/addProject" method="post">

    <table>
        <tr>
            <td>
                <label>Projekt navn:</label>
            </td>
            <td>
                <input type ="text" name="projectName"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Projekt Beskrivelse:</label>
            </td>
            <td>
                <input type ="text" name="projectDesc"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Projekt manager:</label>
            </td>
            <td>
                <input type ="text" name="projectManagerName"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Forventet tid(timer)</label>
            </td>
            <td>
                <input type ="text" name="projectExpectedTime"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Brugt tid(timer)</label>
            </td>
            <td>
                <input type ="text" name="projectUsedTime"/>
            </td>
        </tr>
    </table>
    <input type="submit" value="Opret"/>
</form>

</body>
</html>