<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project List</title>
</head>
<body>

<a href="/"><img id="logo1" src="WizkidsLogo.png" alt="WizkidsLogo"></a>

<h2>Project List</h2>

<table>
    <thead>
    <tr>
        <th>projectID</th>
        <th>projectName</th>
        <th>projectDesc</th>
        <th>projectManagerName</th>
        <th>projectExpectedTime</th>
        <th>projectUsedTime</th>
        <th></th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="project:${projects}" >
        <td th:text="${project.projectID}"  />
        <td th:text="${project.projectName}"  />
        <td th:text="${project.projectDesc}"  />
        <td th:text="${project.projectManagerName}"  />
        <td th:text="${project.projectExpectedTime}"  />
        <td th:text="${project.projectUsedTime}"  />
        <td>
            <a th:href="@{'/delete/'+${project.projectID}}">
                <button class="btn-delete btn" id="btn-delete">Delete</button>
            </a>
            <a th:href="@{'/updateProject/'+${project.projectID}}">
                <button class="btn-updateProject btn" id="btn-updateProject">Update</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>