<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Session</h1>


<a href="/"><img id="logo1" src="WizkidsLogo.png" alt="WizkidsLogo"></a>

<table>
    <tr>
        <td>
            <p>Session ID: </p>
        </td>
        <td>
            <input type="text" name="car_vin" th:value="${car.car_vin}"/>
        </td>
    </tr>
    <tr>
        <td>
            <p>Dato for start:  </p>
        </td>
        <td>
            <input type="text" name="car_brand" th:value="${car.car_brand}"/>
        </td>
    </tr>
    <tr>
        <td>
            <p>Tid start: </p>
        </td>
        <td>
            <input type="text" name="car_model" th:value="${car.car_model}"/>
        </td>
    </tr>
    <tr>
        <td>
            <p>Tid slut: </p>
        </td>
        <td>
            <input type="text" name="car_fuel_type" th:value="${car.car_fuel_type}"/>
        </td>
    </tr>
    <tr>
        <td>
            <p>Employee ID: </p>
        </td>
        <td>
            <input type="text" name="car_registration_number" th:value="${car.car_registration_number}"/>
        </td>
    </tr>
    <tr>
        <td>
            <p>Project ID: </p>
        </td>
        <td>
            <input type="text" name="car_registration_date" th:value="${car.car_registration_date}"/>
        </td>
    </tr>

    </tr>
</table>

<tr>
    <input class="submit" type="submit" value="Save changes"/>
</tr>


</body>
</html>