<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<h1>
    <a href="/"><img id="WizkidsLogo.png" src="WizkidsLogo.png" alt="WizkidsLogo"></a>
    -Tilføj medarbejder
</h1>
<form action="/addSession" method="post">

    <table>
        <tr>
            <td>
                <label>Dato (YYYY-MM-DD): </label>
            </td>
            <td>
                <input type ="text" name="sessionTimeDate"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Tid start: </label>
            </td>
            <td>
                <input type ="text" name="sessionTimeStart"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Tid slut: </label>
            </td>
            <td>
                <input type ="text" name="sessionTimeEnd"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Medarbejder: </label>
            </td>
            <td>
                <input type ="text" name="sessionTimeEmpID"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Projekt navn:</label>
            </td>
            <td>
                <input type ="text" name="sessionTimeProID"/>
            </td>
        </tr>

    </table>
    <input type="submit" value="Opret"/>
</form>
<body>

</body>
</html>