<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="MyCss.css">
</head>
<body>
<h1><a href="/"><img id="WizkidsLogo.png" src="WizkidsLogo.png" alt="WizkidsLogo"></a> - Alle sessioner</h1>

<a href="/addSession">
    <button class="green" id="btn-addProject">Opret session</button>
</a>

<table>
    <thead>
    <tr>

        <th>Session ID</th>
        <th>Dato for session</th>
        <th>Tid start</th>
        <th>Tid slut</th>
        <th>Medarbejder navn</th>
        <th>Projekt navn</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sessionTime:${sessionsTime}">

        <td th:text="${sessionTime.sessionTimeID}"/>
        <td th:text="${sessionTime.sessionTimeDate}"/>
        <td th:text="${sessionTime.sessionTimeStart}"/>
        <td th:text="${sessionTime.sessionTimeEnd}"/>
        <td th:text="${sessionTime.sessionTimeEmpID}"/>
        <td th:text="${sessionTime.sessionTimeProID}"/>
        <td>
            <a th:href="@{'/updateSession/'+${sessionTime.sessionTimeID}}">
                <button class="blue" id="btn-update">Opdater</button>
            </a>

            <a th:href="@{'/deleteSessionTime/'+${sessionTime.sessionTimeID}}">
                <button class="red" id="btn-delete">Slet</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>


<div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content" th:each="employee:${employees}">

    </div>
</div>



</body>
</html>