<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Alle sessioner</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

<div id="wrapper">
    <header id="header">
        <div class="container">
            <div class="navbar-header">
                <a class="logo" href="/"><img src="/WizkidsLogo.png" alt="WizkidsLogo"></a>

                <a id="menu-item-32" href="/employeeList">
                    <button class="topButton" id="btn-employeeList">Medarbejdere</button>
                </a>
                <a id="menu-item-33" href="/sessionList">
                    <button class="topButton" id="btn-sessionList">Sessioner</button>
                </a>
                <a id="menu-item-34" href="/projectList">
                    <button class="topButton" id="btn-projectList">Projekter</button>
                </a>
            </div>
        </div>
    </header>
</div>

<h1>Alle sessioner</h1>


<table>
    <thead>
    <tr>
        <th>Session ID</th>
        <th>Dato for session</th>
        <th>Tid start</th>
        <th>Tid slut</th>
        <th>Medarbejder navn</th>
        <th>Projekt navn</th>
        <th colspan="2">
            <a href="/createSession">
                <button class="green" id="button-create">
                    <i class="material-icons" style="font-size:25px">create</i>
                </button>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sessionTime:${sessionsTime}">

        <td th:text="${sessionTime.sessionTimeID}"/>
        <td th:text="${sessionTime.sessionTimeDate}"/>
        <td th:text="${sessionTime.sessionTimeStart}"/>
        <td th:text="${sessionTime.sessionTimeEnd}"/>
        <td>
            <a th:href="@{'/employeeDetails/'+${sessionTime.sessionTimeEmpID}}"
               th:text="${sessionTime.employeeLastName + ', ' + sessionTime.employeeFirstName}"/>
        </td>
        <td>
            <a th:href="@{'/projectDetails/'+${sessionTime.sessionTimeProID}}"
               th:text="${sessionTime.projectName}"/>
        </td>

        <td>
            <a th:href="@{'/editSession/'+${sessionTime.sessionTimeID}}">
                <button class="blue" id="btn-updateSession">
                    <i class="material-icons" style="font-size:25px">settings</i>
                </button>
            </a>
        </td>
        <td>

            <a th:href="@{'/deleteSession/'+${sessionTime.sessionTimeID}}">
                <button class="red" id="btn-delete">
                    <i class="material-icons" style="font-size:25px">delete_forever</i>
                </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>