<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Alle sessioner</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">

</head>
<body>
<div id="logo">
    <a href="/"><img id="WizkidsLogo.png" src="/WizkidsLogo.png" alt="WizkidsLogo"></a>
</div>

<h1>ALLE SESSIONER</h1>


<table>
    <thead>
    <tr>
        <th>Session ID</th>
        <th>Dato for session</th>
        <th>Tid start</th>
        <th>Tid slut</th>
        <th>Pers. ID</th>
        <th>Vis detaljer</th>
        <th>Medarbejder navn</th>
        <th>Projekt ID</th>
        <th>Vis detaljer</th>
        <th>Projekt navn</th>
        <th>
            <a href="/addSession">
                <button class="green" id="btn-addProject">Opret session</button>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sessionTime:${sessionsTime}">

        <td th:text="${sessionTime.sessionTimeID}"/>
        <td th:text="${sessionTime.sessionTimeDate}"/>
        <td th:text="${sessionTime.sessionTimeStart}"/>
        <td th:text="${sessionTime.sessionTimeEnd}"/>
        <td th:text="${sessionTime.sessionTimeEmpID}"/>
        <td>
            <a th:href="@{'/employeeDetails/'+${sessionTime.sessionTimeEmpID}}">
                <button class="blue" id="btn-employeeDetails">Detaljer</button>
            </a>
        </td>
        <td th:text="${sessionTime.employeeLastName}"/>
        <td th:text="${sessionTime.sessionTimeProID}"/>
        <td>
            <a th:href="@{'/projectDetails/'+${sessionTime.sessionTimeProID}}">
                <button class="blue" id="btn-projectDetails">Detaljer</button>
            </a>
        </td>
        <td th:text="${sessionTime.projectName}"/>
        <td>
            <a th:href="@{'/updateSession/'+${sessionTime.sessionTimeID}}">
                <button class="blue" id="btn-update">Opdater</button>
            </a>

            <a th:href="@{'/deleteSessionTime/'+${sessionTime.sessionTimeID}}">
                <button class="red" id="btn-delete">Slet</button>
            </a>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>