<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Session</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
    <style>
        body{
            background-color: whitesmoke;
            text-align: center;
        }
        table{
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<h1>
    <a href="/"><img id="WizkidsLogo.png" src="/WizkidsLogo.png" alt="WizkidsLogo"></a>
    -Opdater session
</h1>

<form action="/updateSession" method="post">

    <table>
        <tr>
            <td>
                <p>Session-ID: </p>
            </td>
            <td>
                <input type="text" name="sessionTimeID" th:value="${sessions.sessionTimeID}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Dato for start: </p>
            </td>
            <td>
                <input type="text" name="sessionTimeDate" th:value="${sessions.sessionTimeDate}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Tid start: </p>
            </td>
            <td>
                <input type="text" name="sessionTimeStart" th:value="${sessions.sessionTimeStart}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Tid slut: </p>
            </td>
            <td>
                <input type="text" name="sessionTimeEnd" th:value="${sessions.sessionTimeEnd}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Employee ID: </p>
            </td>
            <td>
                <input type="text" name="sessionTimeEmpID" th:value="${sessions.sessionTimeEmpID}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Project ID: </p>
            </td>
            <td>
                <input type="text" name="sessionTimeProID" th:value="${sessions.sessionTimeProID}"/>
            </td>
        </tr>

        <input type="submit" value="Save changes"/>

    </table>


</form>
</body>
</html>