<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
  <style>

      body{
      background-color: whitesmoke;
      text-align: center;
      }
      table{
          margin-left: auto;
         margin-right: auto;
      }
      h1{
          text-align: center;
      }
      #logo{
          text-align: left;
      }
  </style>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
</head>
<div id="logo">
<a href="/"><img id="WizkidsLogo.png" src="/WizkidsLogo.png" alt="WizkidsLogo"></a>
</div>

<h1>Tilføj medarbejder</h1>
<form action="/addSession" method="post">

    <table>
        <tr>
            <td>
                <label>Dato (YYYY-MM-DD): </label>
            </td>
            <td>
                <input type ="text" name="sessionTimeDate"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Tid start: </label>
            </td>
            <td>
                <input type ="text" name="sessionTimeStart" th:value="${localTime}" />
            </td>
        </tr>

        <tr>
            <td>
                <label>Tid slut: </label>
            </td>
            <td>
                <input type ="text" name="sessionTimeEnd"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Medarbejder ID: </label>
            </td>
            <td>
                <input type ="text" name="sessionTimeEmpID"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Projekt ID:</label>
            </td>
            <td>
                <input type ="text" name="sessionTimeProID"/>
            </td>
        </tr>

    </table>
    <input type="submit" value="Opret"/>
</form>
<body>

</body>
</html>