<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilføj session</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">

</head>
<body>
<div id="logo">
<a href="/"><img id="WizkidsLogo.png" src="/WizkidsLogo.png" alt="WizkidsLogo"></a>
</div>

<h1>TILFØJ MEDARBEJDER</h1>
<form action="/addSession" method="post">

    <table>
        <tr>
            <td>
                <label>Dato (YYYY-MM-DD): </label>
            </td>
            <td>
                <input type ="text" name="sessionTimeDate"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>Tid start: </label>
            </td>
            <td>
                <input type ="text" name="sessionTimeStart" th:value="${localTime}" />
            </td>
        </tr>

        <tr>
            <td>
                <label>Tid slut: </label>
            </td>
            <td>
                <input type ="text" name="sessionTimeEnd"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Medarbejder-ID: </label>
            </td>
            <td>
                <input type ="text" name="sessionTimeEmpID"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Projekt-ID: </label>
            </td>
            <td>
                <input type ="text" name="sessionTimeProID"/>
            </td>
        </tr>

    </table>
    <input type="submit" value="Opret"/>
</form>

</body>
</html>