<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opdater session</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<div id="wrapper">
    <header id="header">
        <div class="container">
            <div class="navbar-header">
                <a class="logo" href="/"><img src="/WizkidsLogo.png" alt="WizkidsLogo"></a>

                <a id="menu-item-32" href="/employeeList">
                    <button class="topButton" id="btn-employeeList">Medarbejdere</button>
                </a>
                <a id="menu-item-33" href="/sessionList">
                    <button class="topButton" id="btn-sessionList">Sessioner</button>
                </a>
                <a id="menu-item-34" href="/projectList">
                    <button class="topButton" id="btn-projectList">Projekter</button>
                </a>
            </div>
        </div>
    </header>
</div>

<h1>Opdater session</h1>

<form action="/updateSession" method="post">

    <table>
        <tr>
            <td>
                <p>Session-ID: </p>
            </td>
            <td>
                <input type="text" name="sessionTimeID" th:value="${sessions.sessionTimeID}" readonly/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Dato for start: </p>
            </td>
            <td>
                <input type="text" name="sessionTimeDate" th:value="${sessions.sessionTimeDate}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Tid start: </p>
            </td>
            <td>
                <input type="text" name="sessionTimeStart" th:value="${sessions.sessionTimeStart}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Tid slut: </p>
            </td>
            <td>
                <input type="text" name="sessionTimeEnd" th:value="${sessions.sessionTimeEnd}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Employee ID: </p>
            </td>
            <td>
                <input type="text" name="sessionTimeEmpID" th:value="${sessions.sessionTimeEmpID}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Project ID: </p>
            </td>
            <td>
                <input type="text" name="sessionTimeProID" th:value="${sessions.sessionTimeProID}"/>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button class="green" type="submit">
                    <i class="material-icons" style="font-size:25px">save</i>
                </button>
            </td>
        </tr>

    </table>


</form>

</body>
</html>